<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.mainprojectv2" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:excludeFromRecents="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".neww"
            android:label="@string/title_activity_neww"
            android:launchMode="singleTask"
            android:parentActivityName=".mainmenu"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".finalmap"
            android:label="@string/title_activity_finalmap"
            android:launchMode="singleTask"
            android:parentActivityName=".mainmenu"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".mainmenu"
            android:label="@string/title_activity_mainmenu"
            android:launchMode="singleTask"
            android:parentActivityName=".mainmenu"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".pricelistFruits"
            android:label="@string/title_activity_pricelist_fruits"
            android:launchMode="singleTask"
            android:parentActivityName=".mainmenu"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".sports"
            android:label="@string/title_activity_sports"
            android:launchMode="singleTask"
            android:parentActivityName=".mainmenu"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".pricelistSports"
            android:label="@string/title_activity_pricelist_sports"
            android:launchMode="singleTask"
            android:parentActivityName=".mainmenu"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".PaymentOption"
            android:label="@string/title_activity_payment_option"
            android:launchMode="singleTask"
            android:parentActivityName=".mainmenu"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ThankYou"
            android:label="@string/title_activity_thank_you"
            android:launchMode="singleTask"
            android:parentActivityName=".mainmenu"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
