<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zattack.mainproject" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".start"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Workouts_guide"
            android:label="@string/title_activity_workouts_guide"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Chest"
            android:label="@string/title_activity_chest"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".PushUps"
            android:label="@string/title_activity_push_ups"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".BenchPress"
            android:label="@string/title_activity_bench_press"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Back"
            android:label="@string/title_activity_back"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".PullUps"
            android:label="@string/title_activity_pull_ups"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".LatsPulldown"
            android:label="@string/title_activity_lats_pulldown"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Shoulders"
            android:label="@string/title_activity_shoulders"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Military_Press"
            android:label="@string/title_activity_military__press"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Front_Raise"
            android:label="@string/title_activity_front__raise"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Biceps"
            android:label="@string/title_activity_biceps"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Bicep_Curls"
            android:label="@string/title_activity_bicep__curls"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Hammer_Curls"
            android:label="@string/title_activity_hammer__curls"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Abs"
            android:label="@string/title_activity_abs"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Crunches"
            android:label="@string/title_activity_crunches"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Plank"
            android:label="@string/title_activity_plank"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Incline"
            android:label="@string/title_activity_incline"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".DeadLift"
            android:label="@string/title_activity_dead_lift"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Upright_Row"
            android:label="@string/title_activity_upright__row"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Preacher_Curls"
            android:label="@string/title_activity_preacher__curls"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Mountain_Climbers"
            android:label="@string/title_activity_mountain__climbers"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
